body { background-color: #190707}

.flex-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .card {
    width: 320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

.music-frame {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}